.menu {
    width: 100vw;
    height: 100vh;
    background: #46200D;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 20px;
    text-align: right;
}

.menu__close {
    background: #ffffff00;
    border: none;
    outline: none;
    position: relative;
    right: 5px;
}

.menu__close i {
    color: white;
}

.menu__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
}

.menu__content a {
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
    margin: 10px 0;
}
