.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: #46200D;
    box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.3);
    padding: 0 20px;
}


.header__logo {
    position: absolute;
    width: 18%;
    min-width: 150px;
    max-width: 300px;
    max-height: 120px;
    left: 5%;
}

.header__logo img {
    width: 70%;
    margin-top: 10px;
}

.header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header ul li {
    list-style-type: none;
    padding: 10px;
}

.header ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.header__divider {
    font-size: 1rem;
    color: white;
}

.header__menu {
    display: none;
    background: #ffffff00;
    border: none;
    outline: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header__menu i {
    color: white;
}

@media only screen and (max-width: 1300px) {
    .header ul {
        justify-content: flex-end;
    }
}

@media only screen and (max-width: 630px) {
    .header ul {
        display: none;
    }

    .header__menu {
        display: block;
        margin-left: auto;
    }
}
