.custom-input {
    outline: none;
    border: none;
    width: 100%;
    margin-bottom: 15px;
    padding: 8px 10px;
    text-align: left;
    border-radius: 5px;
    color: gray;
    font-size: 0.9rem;
}
